.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.gap-10 {
  gap: 10px;
}

.justify-between {
  justify-content: space-between;
}

.w-full {
  width: 100%;
}

.min-h-full {
  min-height: 100vh;
}

.p-16 {
  padding: 16px;
}